<div class="green-background"></div>

<div class="invisible"></div>

<div class="detail-content-container">
  <div class="header">
    <h5 class="category-tag"><%= @environment_plant.plant.latin_name %>
      <%= @environment_plant.plant.category %></h5>
      <img class="header-img" src="<%= @environment_plant.plant.remote_image_url %>">
      <% if policy(EnvironmentPlant).destroy? %>
      <%= link_to environment_plant_path, method: :delete do %>
      <button class="btn-round btn-black overlap-right">-</button>
      <% end %>
      <% end %>

    </div>

    <div class="detail-content">
      <div class="titles">
        <h1 class="title"><%= @environment_plant.plant.name %></h1>
        <h2 class="subtitle"><%= @environment_plant.plant.latin_name %></h2>
        <% nickname = @environment_plant.nickname  %>
        <% if policy(EnvironmentPlant).update? %>
            <% if nickname.nil? %>
              <%= simple_form_for @environment_plant do |f| %>
              <%= f.input :nickname, placeholder: "Add a Nickname",
              input_html: { class: "empty-nickname-input" }, label: false %>
              <% end %>
            <% else %>
              <%= simple_form_for @environment_plant do |f| %>
              <%= f.input :nickname, placeholder: nickname,
              input_html: { class: "plant-nickname-input" }, label: false %>
              <% end %>
            <% end %>
        <% end %>
      </div>
      <div class="add-option">
        <% if policy(EnvironmentPlant).destroy? %>
        <%= link_to environment_plant_path, method: :delete do %>
        <button class="btn btn-black">Remove plant</button>
        <% end %>
        <% end %>
      </div>


      <p class="description-text"><%= @environment_plant.plant.description %></p>

      <div class="icons">
        <div>
          <i class="icon fas fa-sun"></i>
          <p class="icon-text"> <%= @environment_plant.plant.light_preference %></p>
        </div>
        <div>
          <i class="icon fas fa-tint"></i>
          <p class="icon-text">  <%= @environment_plant.plant.care_level %></p>
        </div>
        <div>
          <i class="icon fas fa-band-aid"></i>
          <p class="icon-text"><%= @environment_plant.plant.max_height %></p>
        </div>
      </div>
    </div>
  </div>

  <div class= 'related-content'>
    <div class="related-text">
  <h2>Your other plants</h2>
  <%= link_to dashboard_path do %>
    <h4 class ='back-link'>Go to dashboard</h4>
  <% end %>
  </div>
  <div class="card-container">
<% @environment_plant.plant_friends.sample(3).each do |eplant| %>
<div class="card">
    <%= link_to environment_plant_path(eplant) do %>
    <img class="card-img-top" src="<%= eplant.plant.remote_image_url %>">
    <div class="card-body">
      <h5 class="card-category"><%= eplant.plant.category %></h5>
      <h3 class="card-title"><%= eplant.plant.name %></h3>
      <h4 class="card-subtitle"><%= eplant.plant.latin_name %></h4>
      <a href="#" class="card-care-tag">Discover</a>
       </div>
    <% end %>
  </div>
  <% end %>
</div>
</div>
