<p>Edit page</p>

<div class="reminder-container">

  <div class="reminder-container">

    <div class="reminder-header-green">
      <h3>New Reminder</h3>
      <span class="close">&times;</span>
    </div>

    <%= form_for(@reminder) do |f| %>
    <div class="reminder-content">

      <%= f.label "Title" %>
      <%= f.text_field :name, placeholder: 'Remind me to…', class: "reminder-input-field-outline" %>

      <div>
        <div class="datetime">
          <div class="field">
            <%= f.label "Weekday" %>
            <div class="reminder-input-field-outline">
              <%= f.select(:weekday, collection: WEEKDAYS, placeholder: "Choose Weekday") %>
            </div>
          </div>

          <div class="field">
            <%= f.label "Hour" %>
            <div class="reminder-input-field-outline">
              <%= f.select(:hours, collection: HOURS) %>
            </div>
          </div>
        </div>
      </div>

      <%= f.label "Set your Reminder" %>
      <div id="alert" class="reminder-input-field-outline">
        <%= f.select(:frequency, collection: FREQUENCIES) %>
      </div>

      <%= f.label "Notes" %>
      <%= f.text_area :description, as: :text, placeholder: "Details…", class: "reminder-input-field-outline" %>
      <div class="button-center">
        <%= f.button :submit, class: "btn btn-black" %>
      </div>
      <% end %>
    </div>
</div>


</div>


<%= link_to "Back", :back, {:class=>"btn btn-black"} %>
