<%# if @user_plants %>
  <%# @user_plants.each do |user_plant| %>
    <%#= user_plant.nickname %>
    <%#= user_plant.plant.name %>
    <%#= link_to "Edit Plant", edit_user_plant_path(user_plant) %>
    <%#= link_to "Delete Plant", method: :delete %>
  <%# end %>
<%# end %>
<h1><%= current_user.first_name %>'s Dashboard</h1>

<%#= link_to "BROWSE", browse_path %>

<% if policy(Reminder).create? %>
<%= link_to "Create a new reminder", new_reminder_path %>
<% end %>

<% @reminders.each do |r| %>
  <p><%= r.name %>
  <%= r.date %>
  <%= r.description %>
    <% if policy(Reminder).edit? %>
  <%= link_to "Edit", edit_reminder_path(r) %>
  <% end %>
    <% if policy(Reminder).destroy? %>
  <%= link_to "Delete", reminder_path(r), method: :delete %>
  <% end %></p>
<% end %>


<h3><%= @environment.name %></h3>

<div class="content-container">
  <div class="card-container">

<% @environment_plants.each do |ep| %>
<div class="card">
  <%= link_to environment_plant_path(ep) do %>
  <img class="card-img-top" src="<%= ep.plant.remote_image_url %>">
  <div class="card-body">
    <h5 class="card-category"><%= ep.plant.category %></h5>
    <% if ep.nickname.nil? %>
    <h3 class="card-title"><%= ep.plant.name %></h3>
    <% else %>
    <h3 class="card-title"> <%= ep.nickname %> (<%=ep.plant.name%>)</h3>
    <% end %>
    <h4 class="card-subtitle"><%= ep.plant.latin_name %></h4>
    <a href="#" class="card-care-tag">Go somewhere</a>
     </div>
  <% end %>
</div>
<% end %>

</div>
</div>
