<%# if @user_plants %>
  <%# @user_plants.each do |user_plant| %>
    <%#= user_plant.nickname %>
    <%#= user_plant.plant.name %>
    <%#= link_to "Edit Plant", edit_user_plant_path(user_plant) %>
    <%#= link_to "Delete Plant", method: :delete %>
  <%# end %>
<%# end %>

<%#= link_to "BROWSE", browse_path %>

<% if policy(Reminder).create? %>
<%= link_to "Create a new reminder", new_reminder_path %>
<% end %>

<% @reminders.each do |r| %>
  <p><%= r.name %>
  <%= r.date %>
  <%= r.description %>
    <% if policy(Reminder).edit? %>
  <%= link_to "Edit", edit_reminder_path(r) %>
  <% end %>
    <% if policy(Reminder).destroy? %>
  <%= link_to "Delete", reminder_path(r), method: :delete %>
  <% end %></p>
<% end %>


