<%# if @user_plants %>
<%# @user_plants.each do |user_plant| %>
<%#= user_plant.nickname %>
<%#= user_plant.plant.name %>
<%#= link_to "Edit Plant", edit_user_plant_path(user_plant) %>
<%#= link_to "Delete Plant", method: :delete %>
<%# end %>
<%# end %>
<h1><%= current_user.username %>'s Dashboard</h1>

<%#= link_to "BROWSE", browse_path %>


<%# link_to "Create a new reminder", new_reminder_path %>

<div class="btn btn-black open-modal">Create new Reminder</div>

<!-- Start Modal create reminder -->
<div id="myModal" class="modal">
<!--   <div class="modal-content">
  <span class="close">&times;</span> -->

  <div class="reminder-container">

    <div class="reminder-header-green">
      <span class="close">&times;</span>
      <h5>New Reminder</h5>
      <input type="submit" value="SAVE" class="btn btn-small btn-outline-black">
    </div>

    <form class="reminder-content">

      <label for="title">Title</label>
      <input type="text" name="Title" placeholder="Remind me to…" class="reminder-input-field-outline">

      <label for="date">Notes</label>
      <textarea name="Description" placeholder="Description" class="reminder-input-field-outline">
      </textarea>

      <div>
        <label for="date">When</label>
        <div class="datetime">
          <div class="field">
            <input type="date" name="Date" value="Date" class="reminder-input-field-outline">
          </div>
          <div class="field">
            <input type="time" name="usr_time" class="reminder-input-field-outline">
          </div>
        </div>
      </div>

      <div>
        <label for="alert">Remind me</label>
        <div class="select-wrapper">
          <select id="alert" name="alert" class="reminder-input-field-outline">
            <option value="day">every day</option>
            <option value="week">every week</option>
            <option value="two-weeks">every 2 weeks</option>
          </select>
        </div>
      </div>
<!--       <div class="btn btn-black">Save</div> -->
    </form>
  </div>


</div>
</div>
<!-- End Modal create reminder -->


<!-- Shows all Reminders -->
<% @reminders.each do |r| %>
<p><%= r.name %>
  <%= r.date %>
  <%= r.description %>
  <% if policy(Reminder).edit? %>
  <%= link_to "Edit", edit_reminder_path(r) %>
  <% end %>
  <% if policy(Reminder).destroy? %>
  <%= link_to "Delete", reminder_path(r), method: :delete %>
  <% end %></p>
  <% end %>


  <h3><%= @environment.name %></h3>

  <div class="content-container">
    <div class="card-container">

      <% @environment_plants.each do |ep| %>
      <div class="card">
        <%= link_to environment_plant_path(ep) do %>
        <img class="card-img-top" src="<%= ep.plant.remote_image_url %>">
        <div class="card-body">
          <h5 class="card-category"><%= ep.plant.category %></h5>
          <% if ep.nickname.nil? %>
          <h3 class="card-title"><%= ep.plant.name %></h3>
          <% else %>
          <h3 class="card-title"> <%= ep.nickname %> (<%=ep.plant.name%>)</h3>
          <% end %>
          <h4 class="card-subtitle"><%= ep.plant.latin_name %></h4>
          <a href="#" class="card-care-tag">Go somewhere</a>
        </div>
        <% end %>
      </div>
      <% end %>

    </div>
  </div>


  <script>
// Get the modal

// Get the button that opens the modal
const btn = document.querySelector('.open-modal');
const modal = document.getElementById("myModal");

// Get the <span> element that closes the modal
const span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.addEventListener("click", openModal());

function openModal() {
  modal.classList.add("modal-active");
}


// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.classList.remove("modal-active");
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.classList.remove("modal-active");
  }
}
</script>

