<%# if @user_plants %>
<%# @user_plants.each do |user_plant| %>
<%#= user_plant.nickname %>
<%#= user_plant.plant.name %>
<%#= link_to "Edit Plant", edit_user_plant_path(user_plant) %>
<%#= link_to "Delete Plant", method: :delete %>
<%# end %>
<%# end %>
<div class="empty-header-container">
  <h1><%= @environment.name %></h1>
  <%= link_to "Log out", destroy_user_session_path, method: :delete  %>
</div>

<%= link_to new_invitation_path, remote: true do %>
<div class="btn btn-black open-modal">Invite a friend</div>
<% end %>

<div class="btn btn-black open-modal">Create new Reminder</div>


<!-- Start Modal create reminder -->
<div id="myModal" class="modal">



  <div class="reminder-container">


    <div class="reminder-header-green">
      <h3>New Reminder</h3>
      <span class="close">&times;</span>
    </div>

    <%= form_for(@reminder) do |f| %>
    <div class="reminder-content">

      <%= f.label "Title" %>
      <%= f.text_field :name, placeholder: 'Remind me to…', class: "reminder-input-field-outline" %>

      <div>
        <div class="datetime">
          <div class="field">
            <%= f.label "Weekday" %>
            <%= f.select(:weekday, WEEKDAYS, {}, { class: "reminder-input-field-outline" }) %>
          </div>

          <div class="field">
            <%= f.label "Hour" %>
            <%= f.select(:hours, HOURS, {}, { class: "reminder-input-field-outline" }) %>
          </div>
        </div>
      </div>

      <%= f.label "Set your Reminder" %>
      <%= f.select(:frequency, FREQUENCIES, {}, { class: "reminder-input-field-outline", id: "alert" }) %>

      <%= f.label "Notes" %>
      <%= f.text_area :description, as: :text, placeholder: "Details…", class: "reminder-input-field-outline" %>
      <div class="button-center">
        <%= f.button :submit, class: "btn btn-black" %>
      </div>
      <% end %>
    </div>
  </div>

</div>
<!-- End Modal create reminder -->


<%# link_to "Create a new reminder", new_reminder_path %>


<!-- Reminders -->
<% if !@environment.reminders.nil? %>

<% @reminders.order("id ASC").each do |r| %>
<div class="reminder-card-container">
  <h3>Reminders</h3>
  <%= link_to 'Turn Off Reminders', stop_reminders_path, method: :post %>
  <div class="card-reminder">

    <div class="reminder-infos">
        <div class="reminder-infos-top">
          <h5><%= r.weekday%> <%=r.hours%> H</h5>
          <div>
            <% if policy(Reminder).edit? %>
            <%= link_to "edit", edit_reminder_path(r) %>
          <% end %>

          <% if policy(Reminder).destroy? %>
          <%= link_to reminder_path(r), method: :delete do %>
          <svg class="svg-icon" viewBox="0 0 20 20">
            <path d="M17.114,3.923h-4.589V2.427c0-0.252-0.207-0.459-0.46-0.459H7.935c-0.252,0-0.459,0.207-0.459,0.459v1.496h-4.59c-0.252,0-0.459,0.205-0.459,0.459c0,0.252,0.207,0.459,0.459,0.459h1.51v12.732c0,0.252,0.207,0.459,0.459,0.459h10.29c0.254,0,0.459-0.207,0.459-0.459V4.841h1.511c0.252,0,0.459-0.207,0.459-0.459C17.573,4.127,17.366,3.923,17.114,3.923M8.394,2.886h3.214v0.918H8.394V2.886z M14.686,17.114H5.314V4.841h9.372V17.114z M12.525,7.306v7.344c0,0.252-0.207,0.459-0.46,0.459s-0.458-0.207-0.458-0.459V7.306c0-0.254,0.205-0.459,0.458-0.459S12.525,7.051,12.525,7.306M8.394,7.306v7.344c0,0.252-0.207,0.459-0.459,0.459s-0.459-0.207-0.459-0.459V7.306c0-0.254,0.207-0.459,0.459-0.459S8.394,7.051,8.394,7.306"></path>
          </svg>
          <% end %>
          <% end %>
        </div>
      </div>
      <!--       </div> -->
      <h5>Repeat <%= r.frequency %></h5>

      <h4><%= r.name %></h4>
      <p><%= r.description %></p>
    </div>


  </div>

</div>
<% end %>

<% end %>
</div>



<!-- Environment Plants -->

<div class="related-content">
<h2>Plants in your Environment</h2>

  <div class="card-container">

    <% @environment_plants.each do |ep| %>
    <div class="card">
      <%= link_to environment_plant_path(ep) do %>
      <img class="card-img-top" src="<%= ep.plant.remote_image_url %>">
      <div class="card-body">
        <h5 class="card-category"><%= ep.plant.category %></h5>
        <% if ep.nickname.nil? %>
        <h3 class="card-title"><%= ep.plant.name %></h3>
        <% else %>
        <h3 class="card-title"> <%= ep.nickname %> (<%=ep.plant.name%>)</h3>
        <% end %>
        <h4 class="card-subtitle"><%= ep.plant.latin_name %></h4>
        <a href="#" class="card-care-tag">Go somewhere</a>
      </div>
      <% end %>
    </div>
    <% end %>

  </div>
</div>


