<% if policy(Plant).show? %>
 <div class="green-background"></div>

 <div class="detail-content-container">
  <div class="header">
    <h5 class="category-tag"><%= @plant.latin_name %>
      <%= @plant.category %></h5>
  <img class="header-img" src="<%= @plant.remote_image_url %>">
  <% if current_user.present? %>
    <%= link_to environment_plants_path(environment_plant: {environment_id: current_user.environment.id, plant_id: @plant.id}), method: :post do %>
          <button class="btn-round btn-black overlap-right">+</button>

        <% end %>
  <% else %>
      <%= link_to new_user_session_path do %>
      <button class="btn-round btn-black overlap-right">+</button>

    <% end %>
  <% end %>

  </div>

<div class="detail-content">
<div class="titles">
<h1 class="title"><%= @plant.name %></h1>
<h2 class="subtitle"><%= @plant.latin_name %></h2>
</div>
<div class="add-option">
  <% if current_user.present? %>
    <%= link_to environment_plants_path(environment_plant: {environment_id: current_user.environment.id, plant_id: @plant.id}), method: :post do %>
          <button class="btn btn-black">Add plant</button>
        <% end %>
  <% else %>
      <%= link_to new_user_session_path do %>
      <button class="btn btn-black">Add plant</button>
    <% end %>
  <% end %>
  </div>


<p class="description-text"><%= @plant.description %></p>

<div class="icons">
      <div>
      <i class="icon fas fa-sun"></i>
      <p class="icon-text"> <%= @plant.light_preference %></p>
      </div>
      <div>
      <i class="icon fas fa-tint"></i>
      <p class="icon-text">  <%= @plant.care_level %></p>
      </div>
      <div>
      <i class="icon fas fa-band-aid"></i>
      <p class="icon-text"><%= @plant.max_height %></p>
      </div>
    </div>
</div>
</div>
<% end %>

<%# This code will be replaced with the pundit, so there wont be an if-condition %>
<%# if current_user.nil? %>
<%#= link_to new_user_session_path do %>
<!-- <button class="btn btn-black">Add plant</button> -->
  <%# end %>
  <%# else %>
  <%#= link_to environment_plants_path(environment_plant: {environment_id: current_user.environment_id, plant_id: @plant.id}), method: :post do %>
  <!-- <button class="btn btn-black">Add plant</button> -->
  <%# end %>
<%# end %>


